<!doctype html>
<html lang="hu">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Dolgozó és munkakör felvitele</title>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-lg-6 ">
                <form action="dolgozo" class="form-group mt-2 mb-4 shadow p-3">
                    <h3>Dolgozó felvitele</h3>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control mt-2 mb-4" placeholder="Vezetéknév:" id="vezeteknev" name="vezeteknev">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mt-2 mb-4" placeholder="Keresztnév:" id="keresztnev" name="keresztnev">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col"><label for="jogosultsag" class="col-form-label">Jogosultság:</label></div>
                        <div class="col"><select><option selected></option></select></div>
                    </div>
                    <div class="form-group row">
                        <div class="col"><label for="munkakor" class="col-form-label">Munkakör:</label></div>
                        <div class="col"><select><option selected></option></select></div>
                    </div>
                    <div class="form-group row">
                        <div class="col"><label for="munkaterulet" class="col-form-label">Munkaterület:</label></div>
                        <div class="col"><select><option selected></option></select></div>
                    </div>
                    <div class="form-group row">
                        <div class="col"><label for="munkaido" class="col-form-label">Munkaidő:</label></div>
                        <div class="col"><select><option selected></option></select></div>
                    </div>

                    <div class="form-group row">
                        <div class="col"><label for="muszak" class="col-form-label">Milyen műszakot vállal?:</label></div>
                        <div class="col"><select><option selected></option></select></div>
                    </div>
                    <div class="form-group row">
                        <div class="col"><label for="tulora" class="col-form-label">Vállal túlórát?:</label></div>
                        <div class="col"><input type="radio" name="tulora" checked> igen
                            <input type="radio" name="tulora" checked> nem</div>
                    </div>
                    <div class="form-group row">
                        <div class="col"><label for="hetvege" class="col-form-label">Vállal hétvégét?:</label></div>
                        <div class="col"><input type="radio" name="hetvege" checked> igen
                            <input type="radio" name="hetvege" checked> nem</div>
                    </div>
                    <button class="btn btn-dark" type="submit">Hozzáadás</button>

                </form>
            </div>
            <div class="col-sm-12 col-lg-6">
                <form action="dolgozo" class="form-group mt-2 mb-4 shadow p-3 height-100">
                    <h3>Munkakör felvitele</h3>
                    <div class="form-group row">
                        <div class="col"> <input type="text" class="form-control mt-2 mb-4" placeholder="Munkakör:"></div>
                    </div>
                    <button class="btn btn-dark" type="submit">Hozzáadás</button>

                </form>
            </div>
        </div>
    </div>



    
</body>

</html>