<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<script th:replace="/layouts/nav :: navelement1"></script>

<body>
    <script th:replace="/layouts/nav :: navelement2"></script>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="munkakor" th:object="${munkakor}" method="POST" class="form-group">
                    <h3>Munkakör hozzáadása</h3>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" th:field="*{munkakor}" class="form-control mt-2 mb-4" placeholder="Munkakör:" id="munkakor" name="munkakor">
                        </div>

                    </div>

                    <button class="btn btn-dark" type="submit">Hozzáadás</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>