<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<script th:replace="layouts/nav :: navelement1"></script>

<body class="bg-secondary text-center">
	<script th:replace="layouts/nav :: navelement2"></script>
	<div class="container bg-light">
		<div class="row">
			<div
				class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 mx-auto mt-2 rounded text-center">

				<form action="munkaido" th:object="${munkaido}" class="form-group"
					method="POST">
					<h3>Munkaidő hozzáadása</h3>
					<div class="form-row">
						<div class="col">
							<input type="number" th:field="*{munkaido}"
								class="form-control mt-2 mb-4" placeholder="Munkaidő:" id=""
								name="" min="2" max="12">
						</div>
					</div>
					<button class="btn btn-dark" type="submit">Hozzáadás</button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>