<!doctype html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/nav">



<body>

	<form action="munkaido" th:object="${munkaido}" class="form-group mt-12 mb-4 shadow p-3"
		method="POST" layout:fragment="munkaido">
		<h3>Munkaidő hozzáadása</h3>
		<div class="form-row">
			<div class="col">
				<input type="number" th:field="*{munkaido}" class="form-control mt-32 mb-4"
					placeholder="Munkaidő:" id="" name="" min="2" max="12">
			</div>

		</div>

		<button class="btn btn-dark" type="submit">Hozzáadás</button>
	</form>






</body>

</html>