<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<script th:replace="layouts/nav :: navelement1"></script>

<body class="bg-secondary text-center">
    <script th:replace="layouts/nav :: navelement2"></script>
    <div class="container bg-light col-8 col-sm-7 col-md-6 col-lg-5 col-xl-5 mx-auto rounded-bottom text-center">
        <div class="row">
            <div class="col">
                <form action="munkarend" th:object="${munkarend}" class="form-group" method="POST">
                    <h3>Munkarend hozzáadása</h3>
                    <div class="form-group row">

                        <div class="col">
                            <input type="text" th:field="*{mrend}" class="form-control mt-2 mb-4" placeholder="Munkarend:" id="" name="">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col">
                        	
                            <select th:field="*{mido}">
                            <option value="">Nincs kiválasztva munkaidő</option>
                            <option th:each="munkaidok : ${munkaidok}" th:value="${munkaidok.id}" th:text="${munkaidok.idotartam}">
                            
                            </option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-dark" type="submit">Hozzáadás</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>