<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<script th:replace="/layouts/nav :: navelement1"></script>

<body>
    <script th:replace="/layouts/nav :: navelement2"></script>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="muszak" th:object="${muszak}" method="POST" class="form-group">
                    <h3>Műszak hozzáadása</h3>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" th:field="*{muszak}" class="form-control mt-2 mb-4" placeholder="Műszak:" id="muszak" name="muszak">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" th:field="*{tol}" class="form-control mt-2 mb-4" placeholder="tól:" id="tol" name="tol">
                        </div>
                        <div class="col">
                            <input type="number" th:field="*{ig}" class="form-control mt-2 mb-4" placeholder="ig:" id="ig" name="ig">
                        </div>
                    </div>


                    <button class="btn btn-dark" type="submit">Hozzáadás</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</body>

</html>